<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p> 
  <strong>Attendees</strong>
  <ul>
  	<% @event.users.each do |user| %>
  	  <li><%= user.name %>
  	<% end %>
  </ul>	  	
</p>	

<% if logged_in? %>
  <% if !@event.users.include? current_user %>
    <%= link_to 'Join', "/events/#{@event.id}/users", method: :post %>
  <% else %>
    <%= link_to 'Leave', "/events/#{@event.id}/users", method: :delete %>
  <% end %>
<% end %>  

<% if @event.admin.id == current_user.id %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
